<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center">Short Name</th>
			<th class="text-center">Description</th>
            <th class="text-center">Remove</th>
		</tr>
	</thead>
	<tbody>
    	<tr ng-repeat="item in $narrow.foundItems">
			<th class="text-center">{{item.name}}</th>
			<td class="text-center">{{item.short_name}}</td>
			<td class="text-center">{{item.description}}</td>
			<td class="text-center"><input type="button" value="Don't want this one!"
                ng-click="$narrow.onRemove({index:$index})"></td>
		</tr>
	</tbody>
</table>